.add-new-project {
  -webkit-animation: slideNewProject 0.5s forwards;
  animation: slideNewProject 0.5s forwards;
  background-color: rgb(235, 229, 221);
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
  display: flex;
  filter: drop-shadow(5px 5px 10px #000000);
  flex-direction: column;
  height: 30rem;
  left: -500px;
  padding: 3rem;
  position: absolute;
  margin-top: 4rem;
  width: 20%;
}

@-webkit-keyframes slideNewProject {
  100% {
    left: 344px;
  }
}

@keyframes slideNewProject {
  100% {
    left: 344px;
  }
}

.menu {
  display: flex;
  justify-content: flex-end;
  width: 20rem;
}

.cancel-button {
  background-color: rgb(235, 229, 221);
  border: none;
}

.cancel-button:hover {
  color: rgb(224, 59, 59);
  cursor: pointer;
}

.save-button {
  background-color: rgb(87, 84, 84);
  border: none;
  border-radius: 5px;
  color: beige;
  height: 2rem;
  margin-left: 0.8rem;
  padding: 0.4rem;
}

.save-button:hover {
  background-color: rgb(26, 26, 26);
  cursor: pointer;
}

.input-elements {
  display: flex;
  flex-direction: column;
  width: 20rem;
}

.input-elements label {
  margin-top: 2rem;
  margin-bottom: 0.4rem;
}

.input-elements input {
  height: 2.5rem;
}

.input-elements textarea {
  height: 6rem;
}

.input-elements input,
.input-elements textarea {
  background-color: rgb(243, 239, 239);
  border: none;
  border-bottom: 2px solid rgb(192, 185, 185);
}

.input-elements input:focus,
.input-elements textarea:focus {
  border-bottom: 2px solid rgb(41, 36, 36);
  outline: none;
}

@media (max-width: 2000px) {
  .add-new-project {
    width: 30%;
  }
}

@media (max-width: 1300px) {
  .add-new-project {
    width: 50%;
  }
}
