.selected-container {
  display: flex;
}

.selected-project {
  -webkit-animation: slideProject 0.5s forwards;
  animation: slideProject 0.5s forwards;
  background-color: rgb(235, 229, 221);
  border-radius: 1rem;
  display: grid;
  filter: drop-shadow(5px 5px 10px #000000);
  grid-template-columns: 80% 20%;
  grid-template-rows: 3.5rem 3rem 1fr;
  height: 20rem;
  left: -500px;
  margin: 10rem 5rem;
  padding: 2rem;
  position: absolute;
  width: 30rem;
}

@-webkit-keyframes slideProject {
  100% {
    left: 330px;
  }
}

@keyframes slideProject {
  100% {
    left: 330px;
  }
}

.selected-project h1 {
  color: rgb(99, 98, 98);
}

.selected-project button {
  background-color: rgb(235, 229, 221);
  border: none;
  cursor: pointer;
}

.selected-project button:hover {
  color: rgb(224, 59, 59);
}

.selected-project__due-date {
  color: rgb(154, 159, 163);
  grid-row: 2;
}

.selected-project__description {
  color: rgb(133, 133, 134);
  grid-column: 1/3;
}

.tasks-panel {
  -webkit-animation: slideTask 0.5s forwards;
  animation: slideTask 0.5s forwards;
  background-color: rgb(235, 229, 221);
  border-radius: 1rem;
  filter: drop-shadow(5px 5px 10px #000000);
  height: 20rem;
  left: -500px;
  margin: 10rem 10rem 10rem 0;
  padding: 2rem;
  position: absolute;
  width: 24rem;
}

@-webkit-keyframes slideTask {
  100% {
    left: 960px;
  }
}

@keyframes slideTask {
  100% {
    left: 960px;
  }
}

.no-tasks-image {
  width: 1.2rem;
}

.tasks-panel button {
  background-color: rgb(87, 84, 84);
  border: none;
  border-radius: 0.4rem;
  color: rgb(235, 229, 221);
  padding: 0.4rem;
  margin-left: 0.5rem;
}

.tasks-panel input {
  height: 1.8rem;
  background-color: rgb(243, 239, 239);
  border: none;
  border-bottom: 2px solid rgb(192, 185, 185);
}

.tasks-panel input:focus {
  border-bottom: 2px solid rgb(41, 36, 36);
  outline: none;
}

.tasks-panel button:hover {
  background-color: rgb(64, 189, 255);
  color: black;
  cursor: pointer;
}

.tasks {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 1rem;
}

.tasks button {
  background-color: rgb(64, 189, 255);
  border: 1px solid rgb(64, 189, 255);
  border-radius: 0.4rem;
  color: rgb(39, 38, 37);
  padding: 0.4rem;
}

.tasks button:hover {
  background-color: rgb(235, 229, 221);
  border-color: rgb(224, 59, 59);
  color: rgb(224, 59, 59);
  transition: 100ms ease-in-out;
  transform: scale(1.1);
  cursor: pointer;
}

@media (max-width: 1380px) {
  .selected-project {
    margin: 10rem 2.5rem;
  }

  .tasks-panel {
    margin: 10rem 2.5rem 2.5rem 0;
  }

  @-webkit-keyframes slideTask {
    100% {
      left: 880px;
    }
  }

  @keyframes slideTask {
    100% {
      left: 880px;
    }
  }
}

@media (max-width: 1270px) {
  .selected-project {
    margin: 2.5rem 2.5rem;
  }

  .tasks-panel {
    width: 30rem;
    top: 240px;
  }

  @-webkit-keyframes slideTask {
    100% {
      left: 370px;
    }
  }

  @keyframes slideTask {
    100% {
      left: 370px;
    }
  }
}

@media (max-width: 966px) {
  .selected-project {
    margin: 2.5rem 1.3rem;
  }

  @-webkit-keyframes slideTask {
    100% {
      left: 370px;
    }
  }

  @keyframes slideTask {
    100% {
      left: 350px;
    }
  }
}
